/*Menu*/

nav {
    background-color: #1e72bc;
    margin-bottom: 1.5%;
}

nav img {
    border-radius: 25px;
}

nav #collapsibleNavId ul li {
    border-bottom: 1px solid #1e72bc;
    transition: 0.25s;
    width: max-content;
}

nav #collapsibleNavId ul li:hover {
    border-bottom: 2px solid white;
    font-size: 102.5%;
}

nav form {
    width: max-content;
    display: flex;
    justify-content: left;
}

nav form input {
    border: 0.5px solid black;
    width: 30%;
    height: 30px;
    margin-right: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav form ::-webkit-input-placeholder {
    padding: 2%;
}

#btnLogin {
    margin-right: 40px;
}

nav form button, #btnMostrarLogin {
    color: #1e72bc;
    background-color: white;
    border-radius: 5px;
    height: 30px;
    border: 0.5px solid black;
}

nav form .sesion {
    background: white;
    color: #1e72bc;
    height: 30px;
    width: 30px;
    border: 0.5px solid black;
    display: flex;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media (max-width: 1250px) {
    nav form input, #btnLogin {
        margin-right: 33px;
    }
}

@media (max-width: 1199px) {
    #btnCollapse {
        display: block;
    }
}

@media (max-width: 991.5px) {
    nav form {
        width: 40%;
        justify-content: center;
        margin: auto;
    }
    nav form input, nav form .sesion, #btnLogin, #btnRegister {
        display: flex;
    }
    #btnLogin i, #btnRegister i {
        margin: auto;
    }
    nav form input {
        width: 85%;
        margin-top: auto;
        margin-bottom: 3%;
        margin-left: 0%;
        margin-right: 0%;
    }
    nav form .sesion {
        margin-top: auto;
        margin-bottom: 3%;
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media (max-width: 549px) {
    nav form {
        width: 50%;
    }
    nav form input {
        width: 76%;
    }
}

/*Fin menu*/

/*Carousel*/

#carouselId {
    width: 95%;
    height: 535px;
    border: #1e72bc 4px solid;
    margin: auto;
    box-shadow: 0px 0px 10px black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

#carouselId ol li {
    background-color: #1e72bc;
    border: 6px solid #1e72bc;
    border-style: double;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 1%;
}

#carouselId img {
    width: 101%;
    height: 527px;
}

#carouselId .cambio {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #1e72bc;
    margin: auto;
    margin-left: 1%;
    margin-right: 1%;
}

#carouselId .texto {
    background-color: #1e72bcc0;
    position: absolute;
    height: max-content;
    padding: 3%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 135px;
    margin-bottom: 135px;
}

#carouselId .texto h2 {
    font-size: 250%;
}

#carouselId .texto p {
    font-size: 150%;
}

#carouselId .texto button {
    display: none;
    background-color: white;
    color: #1e72bc;
    border-radius: 5px;
    margin: auto;
    margin-top: 7%;
    font-size: 115%;
    font-weight: bold;
}

.modal-content {
    background-color: #1e72bc;
    color: white;
}

.modal-content button span {
    color: white;
}

@media(max-width: 1120px) {
    #carouselId .cambio {
        width: 40px;
        height: 40px;
    }
    #carouselId .texto {
        height: 175px;
    }
    #carouselId .texto p {
        display: none;
    }
    #carouselId .texto button {
        display: block;
    }
    #carouselId .texto h2 {
        font-size: 210%;
    }
    #carouselId .texto p {
        font-size: 135%;
    }
}

/*Fin carousel*/

/*Seccion Nuestra Historia*/

section {
    background-color: #1e72bc;
    color: white;
    margin-top: 1.5%;
    text-align: center;
}

section::before {
    content: "";
    width: 100%;
    height: 120px;
    background: url(../img/top_layer.png);
    display: block;
    position: relative;
    background-size: 100% 100%;
    background-color: #1e72bc;
}

section::after {
    content: "";
    width: 100%;
    height: 120px;
    background: url(../img/bottom_layer.png);
    display: block;
    position: relative;
    background-color: #1e72bc;
    background-size: 100% 100%;
}

section h2 {
    font-size: 300%;
}

section p {
    font-size: 130%;
    width: 75%;
    margin: auto;
}

@media(max-width: 1373px) {
    section h2 {
        font-size: 280%;
    }
    section p {
        font-size: 122.5%;
    }
}

@media(max-width: 1269px) {
    section h2 {
        font-size: 250%;
    }
    section p {
        font-size: 115%;
    }
}

@media(max-width: 400px) {
    section p {
        width: 85%;
    }
}

/*Fin Seccion Nuestra Historia*/

/*Informacion*/

section {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    /* border: 1px solid black; */
    justify-content: center;
}

section .info {
    background-color: #1e72bc;
    position: relative;
    padding: 3%;
    width: 50%;
    transition: 0.75s;
    height: 360px;
}

section .info h3{
    font-size: 225%;
}

section .info p{
    font-size: 125%;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 7.5%;
}

section .info button {
    background-color: white;
    color: #1e72bc;
    border-radius: 5px;
    width: 25%;
    height: 15%;
}

section .info:first-child {
    margin-right: 3.75%;
}

section .info:first-child:hover {
    width: 75%;
}

section .info:nth-child(2):hover {
    width: 75%;
}


section .info:nth-child(2) {
    margin-left: 3.75%;
}

section .info:first-child::after, section .info:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
}

section .info:first-child::after {
    left: 100%;
    border-top: 360px solid #1e72bc;
    border-right: 80px solid transparent;
    
}

section .info:nth-child(2)::before {
    right: 100%;
    border-bottom: 360px solid #1e72bc;
    border-left: 80px solid transparent;
   
}

/*Fin Informacion*/

/*Footer*/

footer {
    background-color: #1e72bc;
    color: white;
    margin-top: 1.5%;
    padding-top: 1.5%;
}

footer #footerBody {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer #footerBody div {
    width: 245px;
    height: 270px;
    margin: auto;
}

footer #footerBody div:last-child {
    width: 100%;
    text-align: center;
    margin-top: 1.5%;
    height: max-content;
}

footer #footerBody div:last-child a {
    color: white;
    transition: 0.25s;
    border-radius: 50%;
    padding: 0.5%;
    font-size: 200%;
    margin: 1%;
}

footer #footerBody div:last-child a i {
    width: 3.25%;
}

footer #footerBody div:last-child a:hover {
    background-color: white;
    color: #1e72bc;
}

footer #footerBody div img {
    border-radius: 25px;
    margin-bottom: 2%;
}

footer #footerBody div button {
    margin-top: 5%;
    color: #1e72bc;
    background-color: white;
    border-radius: 5px;
    height: 30px;
    border: 0.5px solid black;
}

footer #footerBody div h5 {
    font-size: 155%;
}

footer #copy {
    padding: 1.5%;
    border-top: 1px solid white;
    text-align: center;
}

@media(max-width: 1500px) {
    footer #footerBody div:last-child a i {
        width: 3.75%;
    }
}

@media(max-width: 1220px) {
    footer #footerBody div:last-child a i {
        width: 4.75%;
    }
}

@media(max-width: 950px) {
    footer #footerBody div:last-child a i {
        width: 5.75%;
    }
}

@media(max-width: 875px) {
    footer #footerBody div:last-child a i {
        width: 6.75%;
    }
}

@media(max-width: 700px) {
    footer #footerBody div:last-child a i {
        width: 7.75%;
    }
}

@media(max-width: 600px) {
    footer #footerBody div:last-child a i {
        width: 8.75%;
    }
}

@media(max-width: 587px) {
    footer #footerBody div:first-child {
        margin-bottom: 5%;
        margin-top: 2%;
    }
    footer #footerBody div:last-child {
        margin-bottom: 2%;
    }
}

@media(max-width: 525px) {
    footer #footerBody div:last-child a i {
        width: 10.25%;
    }
}

/*Fin Footer*/