body {
    background-color: #ebebeb;
}

.input-group button {
    background-color: #1e72bc;
    color: white;
    font-weight: 200;
    border: transparent;
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.input-group button:hover {
    background-color: white;
    color: #1e72bc;
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.85);
}

.el-wrapper {
    width: 300px;
    padding: 15px;
    margin: 15px auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.el-wrapper:hover .h-bg {
    left: 0px;
}

.el-wrapper:hover .price {
    left: 20px;
    transform: translateY(-50%);
    color: #818181;
}

.el-wrapper:hover .add-to-cart {
    left: 50%;
}

.el-wrapper:hover .img {
    filter: blur(2.4px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
    opacity: 0.3;
}

.el-wrapper:hover .info-inner {
    bottom: 155px;
}

.el-wrapper:hover .a-size {
    transition-delay: 200ms;
    bottom: 50px;
    opacity: 1;
    color: black;
}

.el-wrapper .box-down {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.el-wrapper .box-up {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.el-wrapper .img {
    height: 100%;
    width: 100%;
    padding: 20px 0;
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
}

.h-bg {
    transition: all 1000ms cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    width: 660px;
    height: 100%;
    background-color: #464646;
    position: absolute;
    left: -659px;
}

.info-inner {
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.info-inner .p-name, .info-inner .p-company {
    display: block;
}

.info-inner .p-name {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #252525;
    padding-top: 200px;
}

.info-inner .p-company {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}

.a-size {
    transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    position: absolute;
    width: 100%;
    bottom: -20px;
    font-family: 'PT Sans', sans-serif;
    color: #828282;
    opacity: 0;
}

.a-size .size {
    color: #252525;
}

.a-size .size a {
    color: #1e72bc;
    text-decoration: none;
}

.cart {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.cart .price {
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #252525;
}

.cart .add-to-cart {
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
    font-size: 10px;
    color: #fff;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 250px;
}

#myBtn {
    display: inline-flex;
    width: 64px;
    height: 64px;
    margin: 1% 0 0 90%;
    transition: .5s;
    cursor: pointer;
    background-color: #1e72bc;
    color: white;
    border-radius: 50%;
    padding: 15px;
    margin-right: 15px;
}

#myBtn i {
    margin: auto;
    font-size: 125%;
}

#myBtn:hover {
    transform: scale(1.15);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: initial !important;
}

.modal h1, p {
    color: black;
    text-align: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    min-width: 350px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transform: rotateY(3.142rad);
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal .btn {
    align-self: center;
    background-color: red;
    border: 1px solid red;
    width: 250px;
    margin: 1%;
}

.modal .btn:hover {
    color: red;
    background-color: white;
}

.modal .btn:not(:first-child) {
    background-color: #1e72bc;
    border: 1px solid #1e72bc;
    white-space: nowrap;
}

.modal .btn:not(:first-child):hover {
    color: #1e72bc;
    background-color: white;
}

#myModal2 img {
    height: 80%;
    width: 80%;
    align-self: center;
}


@media screen and (max-width: 420px) {
    #myModal .btn {
        width: 100%;
    }
    #myModal .modal-body img {
        display: none;
    }
}

@media screen and (max-width: 810px) {
    #myModal .modal-body img {
        display: none;
    }
}

@media (max-width: 991px) {
    .el-wrapper {
        width: 345px;
    }
}

@media (max-width: 767px) {
    .el-wrapper {
        width: 290px;
        margin: 30px auto;
    }

    #myBtn {
        margin: 1% 0 0 82%;
    }
}