/*Imagenes preddeterminadas*/
form .form-row .col-lg-12 .text-center img{
    height: 200px;
    width: 200px;
}

/*div principal*/
#administracion, #consultas{
  border: 5px solid #1e72bc;
  margin: 5px;
  background-image: linear-gradient(to bottom, #0086ff, #98c4b8);
}

/*Icono para subir imagenes*/
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .file-upload {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #FFFFFF;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #1e72bc 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size: 20px;
  }
  .wrapper .file-upload input[type=file] {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  .wrapper .file-upload:hover {
    background-position: 0 -99%;
    color: #1e72bc;
  }

  /*div izquierdo de la tiendas y derecho de los productos*/
  #administracion .row #divTiendas, #divProductos, #divTiendas2, #divProductos2, #divProductosAdminTienda, #divTiendasAdminTienda, #divProductosAdminTienda{
    background-color: #1e72bc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
    color: white;
    z-index: 1;
  }

/*Al hacer hover añadir efecto*/
  #administracion .row #divTiendas:hover, #divProductos:hover, #divTiendas2:hover, #divProductos2:hover, #divProductosAdminTienda:hover, #divTiendasAdminTienda:hover, #divProductosAdminTienda:hover{
    transform: scale(1.02);
    z-index: 2;
  }

  /*Modal para eliminar usuario*/
* {box-sizing: border-box}

/*Modal*/
#modalDeleteTienda, #modalDeleteProducto, #modalDeleteProductoAdminTienda{
    display: none;
    color: white;  
}

/*h1*/
#modalDeleteTienda .modal-content .container h1, #modalDeleteProducto .modal-content .container h1, #modalDeleteProductoAdminTienda .modal-content .container h1{
    font-weight: 200;
}

/*p*/
#modalDeleteTienda .modal-content .container #modalText, #modalDeleteProducto .modal-content .container #modalText, #modalDeleteProductoAdminTienda .modal-content .container #modalText{
    font-size: 20px;
    font-weight: 300;
}

/*Boton eliminar*/
.deletebtnTienda, .deletebtnProducto, #deletebtnProductoAdminTienda{
  float: left;
  width: 50%;
  background-color: #1e72bc;
  color: white !important;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  background-color: #1e72bc;
}

/*Boton cancelar*/
.cancelbtnTienda, .cancelbtnProducto, #cancelbtnProductoAdminTienda{
    float: left;
    width: 50%;
    background-color: white;
    color: 005096 !important;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    color: black;
}

/* container del modal */
.container {
  padding: 16px;
  text-align: center;
}

/* background del modal */
.modal {
  display: none;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(95, 95, 95, 0.9);
  padding-top: 50px;
}

/* la caja del modal */
.modal-contentDelete {
  background-color: #1e72bc;
  margin: 5% auto 15% auto; 
  border: 2px solid rgb(58, 58, 58);
  width: 80%; 
}

/* x para cerrar el boton */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #1e72bc;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*botones del div administracio*/
.container-fluid #administracion button{
  color: #005096;
  font-weight: 600;
}

#consultas #ventas{
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#consultas #ventas td, #consultas #ventas th {
  border: 1px solid #ddd;
  padding: 10px;
}

#consultas #ventas #datos{
 background-color: rgb(255, 255, 255);
}

#consultas #ventas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2f77c5;
  color: white;
}
