<!doctype html>
<html ng-app="app">
  <head>
    <title>modeloTiendas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="../img/logoCarrito.PNG" type="image/png">
    <script src="../js/angular.min.js" type="text/javascript"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/modeloTiendas.css">
  </head>
  <body ng-controller="miControlador" ng-init='load()'>

    <!-- insertar imagen desde JS -->
    <div class="row justify-content-center m-3" id="insertarLogo"></div>

    <!-- navbar -->
    <div class="row justify-content-center">
        <nav class="navbar navbar-expand navbar-dark bg-dark rounded shift">
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                    <li class="nav-item active m-2">
                        <a class="nav-link" href="../pages/asociados.html">Inicio</a>
                    </li>

                    <li class="nav-item m-2" id="loginTiendas">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-dark"><i class="fa fa-user-circle text-white"></i></div>
                            </div>
                            <input type="text" class="form-control" id="usuario" placeholder="Usuario">
                        </div>
                    </li>

                    <li class="nav-item m-2" id="esconderDiv">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-dark"><i class="fas fa-key text-white"></i></div>
                            </div>
                            <input type="text" class="form-control" id="password" placeholder="Contraseña">
                        </div>
                    </li>

                    <li class="nav-item active m-2 mt-auto mb-auto">
                        <span id="myBtn" ng-click='modal()'><i class="fas fa-shopping-cart text-white"></i></span>
                    </li>

                </ul>
            </div>
        </nav>
    </div>

    <div class="container-fluid">

        <!-- div imagen y filtro -->
        <div class="row justify-content-center align-items-center" id="imagenTienda">
            <div class="col-lg-4 col-md-6 col-sm-8 col-12">
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Buscar Productos" aria-label="Search" aria-describedby="search-addon">
                    <button type="button" class="btn" data-toggle="popover" title="Información" data-content="!Encuentra el producto perfecto!"><i class="fa fa-search"></i></button>
                  </div>
            </div>
        </div>


        <!-- insertar productos desde JS -->
        <div class="row justify-content-center" id="insertarProductos">

            <div class="container page-wrapper">
                <div class="page-inner">
                    <div class="row">
                        <div class="el-wrapper" ng-repeat="item in listaProductos">
                            <div class="box-up">
                                <img class="img" ng-src="../img/{{item.objProducto.imagen}}">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">{{item.objProducto.nombre}}</span>
                                        <span class="p-company">Stock: {{item.unidades}}</span>
                                    </div>
                                    <div class="a-size">Tienda: <span class="size">{{item.objTienda.nombre}}</span></div>
                                </div>
                            </div>
                            <div class="box-down">
                                <div class="h-bg">
                                    <div class="h-bg-inner"></div>
                                </div>

                                <div class="cart">
                                    <span class="price">{{item.precio}}€</span>
                                    <span class="add-to-cart">
                                        <span class="txt" data-nombre='{{item.objProducto.nombre}}' data-imagen='{{item.objProducto.imagen}}' data-idProducto='{{item.idProducto}}' data-idTienda='{{item.idTienda}}' data-precio='{{item.precio}}' ng-click="addToCart()" >Añadir al carrito</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div ng-repeat="item in cart">
                        <img ng-src="../img/{{item.imgProducto}}"><p class="cartText">{{item.nombre}} &nbsp&nbsp&nbsp Cantidad: {{item.cantidad}} &nbsp&nbsp&nbsp Precio por unidad: {{item.precio}}€</p>
                    </div><br>
                    <p>Precio total: {{total}}€</p>
                    <br>
                    <a class="btn btn-primary" href="#" ng-click="buy()" role="button">Finalizar Compra</a>
                </div>

            </div>

        </div>

    </div>

    <!-- Optional JavaScript -->
    <script src="../js/fontAwesome.js" type="text/javascript"></script>
    <script src="../js/jsmodeloTiendas.js" type="text/javascript"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>