<!doctype html>
<html ng-app="app">
  <head>
    <title>modeloTiendas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="../img/logoCarrito.PNG" type="image/png">
    <script src="../js/angular.min.js" type="text/javascript"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/modeloTiendas.css">
  </head>
  <body ng-controller="miControlador" ng-init='load()' id="body">

    <!-- insertar imagen desde JS -->
    <div class="row justify-content-center m-3" id="insertarLogo"></div>

    <!-- navbar -->
    <div class="row justify-content-center">
        <nav class="navbar navbar-expand rounded shift">
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                    <li class="nav-item active m-2">
                        <a class="nav-link" href="../pages/asociados.html">Inicio</a>
                    </li>

                    <li class="nav-item m-2" id="iconoUsuario">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-user-circle text-white"></i></div>
                            </div>
                            <input type="text" class="form-control" id="usuario" placeholder="Usuario">
                        </div>
                    </li>

                    <li class="nav-item m-2" id="iconoLogout">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-key text-white"></i></div>
                            </div>
                            <input type="password" class="form-control" id="password" placeholder="Contraseña">
                        </div>
                    </li>

                    <li class="nav-item m-2" id="botonLogin">
                        <button type='button' class='btn' id='btnLogin' ng-click="login()"><i class='fa fa-sign-in-alt'></i></button>
                    </li>

                    <li class="nav-item m-2 mt-auto mb-auto" id="carrito">
                        <button type='button' class='btn' id='myBtn' ng-click="modal()"><i class='fa fa-shopping-cart'></i></button>
                        <span class="badge">{{contador}}</span>
                    </li>

                </ul>
            </div>
        </nav>
    </div>

    <div class="container-fluid">

        <!-- div imagen y filtro -->
        <div class="row justify-content-center align-items-center" id="imagenTienda">
            <div class="col-lg-4 col-md-6 col-sm-8 col-12">
                <div class="input-group">
                    <input type="search" class="form-control rounded" ng-model="textoBusqueda" placeholder="Buscar Productos" aria-label="Search" aria-describedby="search-addon">
                    <button type="button" class="btn" data-toggle="popover" title="Información" data-content="!Encuentra el producto perfecto!"><i class="fa fa-search"></i></button>
                  </div>
            </div>
        </div>

        <div class="row justify-content-center text-center" id="filtro">

            <li ng-click="stockMayorMenor()">
                <h1><i class="fas fa-sort-amount-down"></i></h1>
            </li>

            <li ng-click="stockMenorMayor()">
                <h1><i class="fas fa-sort-amount-up"></i></h1>
            </li>

            <li ng-click="precioMayorMenor()">
                <h1><i class="fa fa-euro-sign"></i><i class="fas fa-arrow-down"></i></h1>
            </li>

            <li ng-click="precioMenorMayor()">
                <h1><i class="fa fa-euro-sign"></i><i class="fas fa-arrow-up"></i></h1>
            </li>

            <li ng-click="reset()">
                <h1><i class="fas fa-undo"></i></h1>
            </li>
               
        </div>


        <!-- insertar productos desde JS -->
        <div class="row justify-content-center" id="insertarProductos">

            <div class="container page-wrapper">
                <div class="page-inner">
                    <div class="row">
                        <div class="el-wrapper" ng-repeat="item in listaProductos | filter:textoBusqueda" ng-init="position=$index">
                            <div class="box-up">
                                <img class="img" ng-src="../img/{{item.objProducto.imagen}}">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">{{item.objProducto.nombre}}</span>
                                        <span class="p-company">Stock: {{item.unidades}}</span>
                                    </div>
                                    <div class="a-size">Tienda: <span class="size">{{item.objTienda.nombre}}</span></div>
                                </div>
                            </div>
                            <div class="box-down">
                                <div class="h-bg">
                                    <div class="h-bg-inner"></div>
                                </div>

                                <div class="cart">
                                    <span class="price">{{item.precio}}€</span>
                                    <span class="add-to-cart">
                                        <span class="txt" data-nombre='{{item.objProducto.nombre}}' data-imagen='{{item.objProducto.imagen}}' data-idProducto='{{item.idProducto}}' data-idTienda='{{item.idTienda}}' data-precio='{{item.precio}}' data-tienda='{{item.objTienda.nombre}}' ng-click="addToCart($index)" >Añadir al carrito</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Carrito
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-image">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Tienda</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in cart">
                                    <td class="w-25">
                                        <img ng-src="../img/{{item.imgProducto}}" class="img-fluid img-thumbnail">
                                    </td>
                                    <td>{{item.nombre}}</td>
                                    <td>
                                        <a type="button" data-nombre='{{item.nombre}}' data-imagen='{{item.imagen}}'
                                        data-idProducto='{{item.idProducto}}' data-idTienda='{{item.idTienda}}'
                                        data-precio='{{item.precio}}' ng-click="addToCart2()"
                                        class="btn btn-primary btn-sm cantidadBtn">&#43;</a><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.cantidad}}
                                        <br>
                                        <a type="button" data-nombre='{{item.nombre}}' data-imagen='{{item.imagen}}'
                                        data-idProducto='{{item.idProducto}}' data-idTienda='{{item.idTienda}}'
                                        data-precio='{{item.precio}}' ng-click="removeFromCart2()" class="btn btn-primary btn-sm cantidadBtn">&#8722;</a></td>
                                    <td>{{item.precio}}€</td>
                                    <td>{{item.tienda}}</td>
                                    <td><a type="button" ng-click="removeCart()" class="deleteBtn" data-idProducto='{{item.idProducto}}'>Eliminar</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-end">
                            <h5>Total: <span class="price text-success">{{total}}€</span></h5>
                        </div>
                    </div>
                    <div class="modal-footer border-top-0 d-flex justify-content-between">
                        <a class="btn btn-primary" href="#" ng-click="clearCart()" role="button">Vaciar Carrito</a>
                        <a class="btn btn-primary" href="#" ng-click="buy()" role="button">Finalizar Compra</a>
                    </div>
                </div>
            </div>
            
            <div id="myModal2" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <img src="https://cdn.dribbble.com/users/204955/screenshots/4930541/emptycart.png" alt="Carrito vacio">
                </div>
            </div>

        </div>

    </div>

    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6><ins>Sobre Nosotros</ins></h6>
              <p class="text-justify text-white">{{nombreTienda}} forma parte de Dendariak, la Asociacion de Comerciantes de Amorebieta-Etxano. Fundada en el año 1999, su objetivo principal fue y sigue siendo potenciar y dinamizar el comercio local de Amorebieta-Etxano. Dendariak esta compuesto por un amplio grupo de comercios, empresas de servicios y hosteleria.</p>
            </div>
  
            <div class="col-xs-6 col-md-3 col-sm-6 col-6 text-center">
              <h6><ins>Contacto</ins></h6>
              <ul class="footer-links">
                <li><a href="#"><i class="fas fa-map-marker-alt"></i> {{direccionTienda}}</a></li>
                <li><a href="#"><i class="fas fa-envelope"></i> {{emailTienda}}</a></li>
                <li><a href="#"><i class="fas fa-phone"></i> {{telefonoTienda}}</a></li>
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3 col-sm-6 col-6 text-center">
              <h6><ins>Asociación</ins></h6>
              <ul class="footer-links">
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="../pages/contacto.html">Asóciate</a></li>
                <li><a href="../pages/tienda.html">Productos</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
  </footer>

    <!-- Optional JavaScript -->
    <script src="../js/fontAwesome.js" type="text/javascript"></script>
    <script src="../js/jsmodeloTiendas.js" type="text/javascript"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>