<!doctype html>
<html ng-app="app">

<head>
    <title>Tienda</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="../img/logoCarrito.PNG" type="image/png">
    <script src="../js/angular.min.js" type="text/javascript"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/tienda.css">
</head>

<body ng-controller='myController' ng-init='load()'>

    <!--Navbar-->
    <nav class="navbar navbar-expand-xl navbar-dark">
        <img src="../img/logo.PNG" class="navbar-brand" alt="">
        <button id="btnCollapse" class="navbar-toggler border-white" type="button" data-toggle="collapse"
            data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="../../index.html">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../pages/tienda.html">Tienda online</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../pages/asociados.html">Asociados</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../pages/contacto.html">Contacto</a>
                </li>
            </ul>
            <form id="zonaLogin" class="form-inline my-2 my-lg-0">
                <label class="sesion">
                    <i class="m-auto fas fa-user"></i>
                </label>
                <input id="username" type="text" name="username" placeholder="Usuario">
                <label class="sesion">
                    <i class="m-auto fas fa-key"></i>
                </label>
                <input id="password" type="password" name="password" placeholder="Contraseña">
                <button id="btnLogin" onclick="login()"><i class="fas fa-sign-in-alt"></i></button>
                <button id="btnRegister"><i class="fas fa-user-plus"></i></button>
            </form>

            <div id="insertarLogin"></div><!-- div para añadir desde el JS cuando estas conectado-->

        </div>
    </nav>

    <span id="myBtn" ng-click='modal()'><i class="shopping-cart" id="shopping-cart"></i></span>
    <div class="container page-wrapper">
        <div class="page-inner">
            <div class="row">
                <div class="el-wrapper" ng-repeat="item in listaProductos">
                    <div class="box-up">
                        <img class="img" ng-src="../img/{{item.imagen}}">
                        <div class="img-info">
                            <div class="info-inner">
                                <span class="p-name">{{item.nombre}}</span>
                                <span class="p-company">Stock: {{item.objProductoTienda.unidades}}</span>
                            </div>
                            <div class="a-size">Tienda: <span class="size"><a
                                        href="https://google.es/search?q={{item.objProductoTienda.objTienda.nombre}}">{{item.objProductoTienda.objTienda.nombre}}</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="box-down">
                        <div class="h-bg">
                            <div class="h-bg-inner"></div>
                        </div>

                        <div class="cart">
                            <span class="price">{{item.objProductoTienda.precio}}€</span>
                            <span class="add-to-cart">
                                <span class="txt" data-nombre='{{item.nombre}}' data-imagen='{{item.imagen}}'
                                    data-idProducto='{{item.objProductoTienda.idProducto}}'
                                    data-idTienda='{{item.objProductoTienda.idTienda}}'
                                    data-precio='{{item.objProductoTienda.precio}}' ng-click="addToCart()">Añadir al
                                    carrito</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">
                    Carrito
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-image">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in cart">
                            <td class="w-25">
                                <img ng-src="../img/{{item.imgProducto}}" class="img-fluid img-thumbnail">
                            </td>
                            <td>{{item.nombre}}</td>
                            <td>{{item.cantidad}}</td>
                            <td>{{item.precio}}€</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <h5>Total: <span class="price text-success">{{total}}€</span></h5>
                </div>
            </div>
            <div class="modal-footer border-top-0 d-flex justify-content-between">
                <a class="btn btn-primary" href="#" ng-click="clearCart()" role="button">Vaciar Carrito</a>
                <a class="btn btn-primary" href="#" ng-click="buy()" role="button">Finalizar Compra</a>
            </div>
        </div>
    </div>
    
    <div id="myModal2" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://cdn.dribbble.com/users/204955/screenshots/4930541/emptycart.png" alt="Carrito vacio">
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div id="footerBody">
            <div>
                <img src="../img/logo.PNG" alt="">
                La Asociación de Comerciantes es una agrupación
                formada por diferentes comercios y hosteleros de
                Amorebieta unidos por un fin principal que es el fomento, promoción y desarrollo del comercio de
                Amorebieta.
                <a href="../pages/asociados.html"><button>Asociados</button></a>
            </div>
            <div>
                <h5>CONTACTO</h5>
                <p>
                <h6><i class="fa fa-map-marker-alt"></i> Direccion: </h6>Luis Urrengoetxea Hiribidea, 9 48340
                Amorebieta-Etxano, Bizkaia</p>
                <p>
                <h6><i class="fa fa-phone"></i> Telefono: </h6>946 08 84 92</p>
                <p>
                <h6><i class="fa fa-envelope "></i> Email: </h6>comerciantesamorebieta@gmail.com</p>
            </div>
            <div>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
        <div id="copy">
            © Asociación de Comerciantes de Amorebieta - 2021. Todos los derechos reservados.
        </div>
    </footer>
    <button onclick="topFunction()" id="topBtn"><i class="fas fa-arrow-up fa-2x"></i></button>
    <!-- Optional JavaScript -->
    <script src="../js/tienda.js"></script>
    <script src="../js/jsFunctions.js"></script>
    <script src="../js/loginPaginas.js"></script>
    <script src="../js/fontAwesome.js" type="text/javascript"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>