<!doctype html>
<html ng-app="app">
  <head>
    <title>Usuario</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="../img/logoCarrito.PNG" type="image/png">
    <script src="../js/angular.min.js" type="text/javascript"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/usuario.css">
  </head>
  <body ng-controller="miControlador">

    <div class="prueba" ng-init="loggedVerify()">

        <!--Navbar-->
        <nav class="navbar navbar-expand-xl navbar-dark">
            <img src="../img/logo.PNG" class="navbar-brand" alt="">
            <button id="btnCollapse" class="navbar-toggler border-white" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="../../index.html">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../pages/tienda.html">Tienda online</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../pages/asociados.html">Asociados</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../pages/contacto.html">Contacto</a>
                    </li>
                </ul>
                <form id="zonaLogin" class="form-inline my-2 my-lg-0">
                    <label class="sesion">
                        <i class="m-auto fas fa-user"></i>
                    </label>
                    <input id="username" type="text" name="username" placeholder="Usuario">
                    <label class="sesion">
                        <i class="m-auto fas fa-key"></i>
                    </label>
                    <input id="password" type="password" name="password" placeholder="Contraseña">
                    <button id="btnLogin" onclick="login()"><i class="fas fa-sign-in-alt"></i></button>
                    <button id="btnRegister"><i class="fas fa-user-plus"></i></button>
                </form>

                <div id="insertarLogin"></div><!-- div para añadir desde el JS cuando estas conectado-->

            </div>
        </nav>
      
        <div class="container-fluid" >
      
            <!--div para crear, borrar y actualizar tiendas y productos-->
            <div id="administracion" ng-show="adminGeneral=='si'">
      
                <h2 class='text-center m-2 text-white'>ADMINISTRACIÓN</h2>
        
                <div class='row justify-content-center'>
                    <!--Nueva tienda-->
                    <div class='col-lg-5 col-md-5 col-sm-8 col-10 border rounded mt-1 p-3 mb-3' id="divTiendas" ng-show="divInsertarTienda=='si'">
                        <h4 class='text-center'>NUEVA TIENDA <i class="fas fa-eye" ng-click="mostrarInsertTienda()"></i></h4>
        
                        <form class='m-2' ng-show="tiendaInsert=='si'">
        
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <label for="nombre">Nombre<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="nombre" id="nombreTienda" ng-model="nombreTiendaNuevo" placeholder="Nombre...">
                                </div>
                                <div class="col-lg-6">
                                    <label for="direccion">Dirección<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="direccion" id="direccionTienda" ng-model="direccionTiendaNuevo" placeholder="Dirección...">
                                </div>
                            </div>
        
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <label for="tipo">Tipo<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="tipo" id="tipoTienda" ng-model="tipoTiendaNuevo" placeholder="Tipo...">
                                </div>
                                <div class="col-lg-6">
                                    <label for="telefono">Teléfono<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="telefono" id="telefonoTienda" ng-model="telefonoTiendaNuevo" placeholder="Teléfono..." min="900000000" max="999999999">
                                </div>
                            </div>
        
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <label for="email">Email<span class="text-danger">*</span></label>
                                    <input type="email" class="form-control" name="email" id="emailTienda" ng-model="emailTiendaNuevo" placeholder="Email...">
                                </div>
                                <div class="col-lg-6">
        
                                    <div class="wrapper">
                                        <div class="file-upload" id="fileTienda">
                                            <input type="file" name="tienda" id="imagenTienda" onchange="angular.element(this).scope().imagenSeleccionadaTienda(this)" accept=".png,.jpeg,.jpg,.gif" />
                                            <i class="fa fa-upload"></i>
                                        </div>
                                    </div>
        
                                </div>
                            </div>
        
                            <div class="form-row">
                                <div class="col-lg-12 mt-2">
        
                                    <div class="text-center">
                                        <img src="../img/default.png" id="imagenInsertTienda">
                                    </div>
                                    
                                </div>
                            </div>
        
                            <div class="text-center m-2">
                                <button type="button" id="btnInsertarTienda" class="btn btn-light" ng-click="insertarTienda()"><i class="fas fa-plus"></i></button>
                                <button type="button" id="btnCancelarInsertarTienda" class="btn btn-light" ng-click="cancelarInsertarTienda()"><i class="far fa-times-circle"></i></button>
                            </div>
        
                        </form>
                    </div>
                    <!--Nuevo producto-->
                    <div class='col-lg-5 col-md-5 col-sm-8 col-10 border rounded mt-1 p-3 mb-3' id="divProductos">
                    <h4 class='text-center'>NUEVO PRODUCTO <i class="fas fa-eye" ng-click="mostrarInsertProducto()"></i></h4>
        
                        <form class='m-2' ng-show="productoInsert=='si'">
        
                            <div class="form-row" ng-show="productoAdmin=='si'">
                                <div class="col-lg-6">
                                    <label for="nombre">Nombre<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="nombre" id="nombreProducto" ng-model="nombreProductoNuevo" placeholder="Nombre...">
                                </div>
                                <div class="col-lg-6">
                                    <label for="tipo">Tipo<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="tipo" id="tipoProducto" ng-model="tipoProductoNuevo" placeholder="Tipo...">
                                </div>
                            </div>

                            <div class="form-row" ng-show="selectProductosAdminTienda=='si'">
                                <div class="col-lg-12">
                                    <div class="text-center">
                                        <select id="productos" ng-model="productoSeleccionado" ng-change="mostrarInsertProductoAdminTienda()">
                                            <option value="" selected>Seleccionar Producto</option>
                                            <option ng-repeat="item in productos" value="{{item.id}}">{{item.id}} -- {{item.nombre}}</option>
                                        </select>
                                    </div>
                                    
                                </div>
                            </div>
        
                            <div class="form-row" ng-show="productoAdminTienda=='si'">
                                <div class="col-lg-6">
                                    <label for="precio">Precio<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="precio" id="precioProducto" ng-model="precioProductoNuevo" placeholder="Precio..." min="0">
                                </div>
                                <div class="col-lg-6">
                                    <label for="unidades">Unidades<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="unidades" id="unidadesProducto" ng-model="unidadesProductoNuevo" placeholder="Unidades..." min="0" max="100">
                                </div>
                            </div>
        
                            <div class="form-row justify-content-center">
                                <div class="col-lg-12 m-2" ng-show="productoAdmin=='si'">
        
                                    <div class="wrapper">
                                        <div class="file-upload" id="fileProducto">
                                            <input type="file" name="imagen" id="imagenProducto" onchange="angular.element(this).scope().imagenSeleccionadaProducto(this)" accept=".png,.jpeg,.jpg,.gif" />
                                            <i class="fa fa-upload"></i>
                                        </div>
                                    </div>
        
                                </div>
                            </div>
        
                            <div class="form-row" ng-show="productoAdmin=='si'">
                                <div class="col-lg-12 mt-3">
        
                                    <div class="text-center">
                                        <img src="../img/default.png" id="imagenInsertProducto">
                                    </div>
                                    
                                </div>
                            </div>
        
                            <div class="text-center m-2" ng-show="btnInsertProductos=='si'">
                                <button type="button" id="btnInsertarProducto" class="btn btn-light" ng-click="insertarProducto()"><i class="fas fa-plus"></i></button>
                                <button type="button" id="btnCancelarInsertarProducto" class="btn btn-light" ng-click="cancelarInsertarProducto()"><i class="far fa-times-circle"></i></button>
                            </div>
        
                        </form>
        
                    </div>
        
                </div>  
                
                <div class='row justify-content-center'>
        
                    <!--Actualizar y borrar tienda-->
                    <div class='col-lg-5 col-md-5 col-sm-8 col-10 border rounded mt-1 p-3 mb-3' id="divTiendas2">

                        <h4 class='text-center'>ACTUALIZAR TIENDA<i class="fas fa-eye" ng-click="mostrarSelectTienda()"></i></h4>
        
                        <div class="text-center" ng-show="tiendaSelect=='si'">
                            <select id="tiendasUpdate1" ng-model="tiendaSeleccionada"  ng-change="seleccionarTienda()">
                                <option value="" selected>Seleccionar tienda</option>
                                <option ng-repeat="item in tiendas" value="{{item.id}}">{{item.id}} -- {{item.nombre}}</option>
                            </select>
                        </div>
        
                        <form class='m-2' ng-show="tiendaUpdate=='si'">
        
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <label for="nombre">Nombre<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="nombre" id="nombreTiendaUpdate" ng-model="nombreTiendaUpdate">
                                </div>
                                <div class="col-lg-6">
                                    <label for="direccion">Dirección<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="direccion" id="direccionTiendaUpdate" ng-model="direccionTiendaUpdate">
                                </div>
                            </div>
        
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <label for="tipo">Tipo<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="tipo" id="tipoTiendaUpdate" ng-model="tipoTiendaUpdate">
                                </div>
                                <div class="col-lg-6">
                                    <label for="telefono">Teléfono<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="telefono" id="telefonoTiendaUpdate" ng-model="telefonoTiendaUpdate" min="900000000" max="999999999">
                                </div>
                            </div>
        
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <label for="email">Email<span class="text-danger">*</span></label>
                                    <input type="email" class="form-control" name="email" id="emailTiendaUpdate" ng-model="emailTiendaUpdate">
                                </div>
                                <div class="col-lg-6">
        
                                    <div class="wrapper">
                                        <div class="file-upload" id="fileTienda">
                                            <input type="file" name="tienda" id="imagenTiendaUpdate" onchange="angular.element(this).scope().imagenSeleccionadaTiendaUpdate(this)" accept=".png,.jpeg,.jpg,.gif" />
                                            <i class="fa fa-upload"></i>
                                        </div>
                                    </div>
        
                                </div>
                            </div>
        
                            <div class="form-row">
                                <div class="col-lg-12 mt-2">
        
                                    <div class="text-center">
                                        <img ng-src="../img/{{imagenTiendaUpdate}}" id="imagenUpdateTienda">
                                    </div>
                                    
                                </div>
                            </div>
        
                            <div class="text-center m-2">
                                <button type="button" id="btnUpdateTienda" class="btn btn-light" ng-click="actualizarTiendaAdmin()"><i class="fas fa-pencil-alt"></i></button>
                                <button type="button" id="btnDeleteTienda" class="btn btn-light" ng-show="btnDeleteTienda=='si'" ng-click="eliminarTiendaAdmin()"><i class="fas fa-trash-alt"></i></button>
                                <button type="button" id="btnCancelUpdateTienda" class="btn btn-light" ng-click="cancelUpdateTienda()"><i class="far fa-times-circle"></i></button>
                            </div>
        
                        </form>
        
        
                    </div>
                    
                    <!--Actualizar y borrar producto-->
                    <div class='col-lg-5 col-md-5 col-sm-8 col-10 border rounded mt-1 p-3 mb-3' id="divProductos2">
        
                        <h4 class='text-center'>ACTUALIZAR PRODUCTO <i class="fas fa-eye" ng-click="mostrarSelectProducto()"></i></h4>
        
                        <div class="text-center" ng-show="productoSelect=='si'">
                            <select id="productos" ng-model="productoSeleccionado" ng-change="seleccionarProducto()">
                                <option value="" selected>Seleccionar producto</option>
                                <option ng-repeat="item in productos" value="{{item.id}}">{{item.id}} -- {{item.nombre}}</option>
                            </select>
                        </div>

                        <div class="text-center" ng-show="productoSelectTienda=='si'">
                            <select id="productos" ng-model="productoSeleccionado" ng-change="seleccionarProducto()">
                                <option value="" selected>Seleccionar producto</option>
                                <option ng-repeat="item in productosTienda" value="{{item.idProducto}}">{{item.idProducto}} -- {{item.objProducto.nombre}}</option>
                            </select>
                        </div>
        
                        <form class='m-2' ng-show="productoUpdate=='si'">
        
                            <div class="form-row" ng-show="updateProductoAdmin=='si'">
                                <div class="col-lg-6">
                                    <label for="nombre">Nombre<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="nombre" id="nombreProductoUpdate" ng-model="nombreProductoUpdate">
                                </div>
                                <div class="col-lg-6">
                                    <label for="tipo">Tipo<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="tipo" id="tipoProductoUpdate" ng-model="tipoProductoUpdate">
                                </div>
                            </div>
        
                            <div class="form-row" ng-show="updateProductoAdminTienda=='si'">
                                <div class="col-lg-6">
                                    <label for="precio">Precio<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="precio" id="precioProductoUpdate" ng-model="precioProductoUpdate" min="0">
                                </div>
                                <div class="col-lg-6">
                                    <label for="unidades">Unidades<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="unidades" id="unidadesProductoUpdate" ng-model="unidadesProductoUpdate" min="0" max="100">
                                </div>
                            </div>
        
                            <div class="form-row" ng-show="updateProductoAdmin=='si'">
                                <div class="col-lg-12 m-2">
        
                                    <div class="wrapper">
                                        <div class="file-upload" id="fileProducto">
                                            <input type="file" name="imagen" id="imagenProductoUpdate" onchange="angular.element(this).scope().imagenSeleccionadaProductoUpdate(this)" accept=".png,.jpeg,.jpg,.gif" />
                                            <i class="fa fa-upload"></i>
                                        </div>
                                    </div>
        
                                </div>
                            </div>
        
                            <div class="form-row" ng-show="updateProductoAdmin=='si'">
                                <div class="col-lg-12 mt-3">
        
                                    <div class="text-center">
                                        <img ng-src="../img/{{imagenProductoUpdate}}" id="imagenUpdateProducto">
                                    </div>
                                    
                                </div>
                            </div>
        
                            <div class="text-center m-2">
                                <button type="button" id="btnUpdateProducto" class="btn btn-light" ng-click="actualizarProductoAdmin()"><i class="fas fa-pencil-alt"></i></button>
                                <button type="button" id="btnDeleteProducto" class="btn btn-light" ng-click="eliminarProductoAdmin()"><i class="fas fa-trash-alt"></i></button>
                                <button type="button" id="btnCancelUpdateProducto" class="btn btn-light" ng-click="cancelUpdateProducto()"><i class="far fa-times-circle"></i></button>
                            </div>
        
                        </form>
                        
                    </div>
        
                </div>
        
            </div>

            <!--tabla de los pedidos realizados-->
            <div id="consultas">

                <h2 class='text-center m-2 text-white'>HISTORIAL DE PEDIDOS</h2>

                <div class="row justify-content-center" id="rowConsultas">
                    <table id="ventas" class="mb-3 table-responsive-sm">
                        <tr>
                            <th>ID PEDIDO</th>
                            <th>PRODUCTO</th>
                            <th>PRECIO</th>
                            <th>UNIDADES</th>
                            <th>FECHA</th>
                            <th>TIENDA</th>
                        </tr>
                        <tr ng-repeat="item in ventas" class="text-dark text-center" id="datos">
                            <td>{{item.id}}</td>
                            <td>{{item.objProducto.nombre}}</td>
                            <td>{{item.precio}}€</td>
                            <td>{{item.unidades}}</td>
                            <td>{{item.fecha}}</td>
                            <td>{{item.objTienda.nombre}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!--div usuarios-->
            <div id="zonaPersonal">

                <h2 class='text-center m-2 text-white'>ZONA PERSONAL</h2>

                <div class="row justify-content-center">

                    <!--actualizar informacion de usuario-->
                    <div class='col-lg-5 col-md-5 col-sm-8 col-10 border rounded mt-1 p-3 mb-3' id="divZonaPersonal">
        
                        <h4 class='text-center'>INFORMACION <i class="fas fa-eye" ng-click="mostrarUpdateUsuario()"></i></h4>
        
                        <form class='m-2' ng-show="formUpdateUsuario=='si'">
        
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <label for="nombre">Nombre<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="updateNombreUsuario" name="nombre" value="{{nombreUsuario}}">
                                </div>
                                <div class="col-lg-6">
                                    <label for="apellidos">Apellidos<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="updateApellidosUsuario" name="apellidos" value="{{apellidosUsuario}}">
                                </div>
                            </div>
        
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <label for="username">Usuario<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="updateUsernameUsuario" name="username" value="{{usernameUsuario}}" disabled>
                                </div>
                                <div class="col-lg-6">
                                    <label for="password">Contraseña<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="updatePasswordUsuario" name="password" value="{{passwordUsuario}}">
                                </div>
                            </div>
        
                            <div class="text-center m-2">
                                <button type="button" id="updateUsuario" class="btn btn-light" ng-click="updateUsuario()"><i class="fas fa-pencil-alt"></i></button>
                                <button type="button" id="cancelUpdateUsuario" class="btn btn-light" ng-click="cancelUpdateUsuario()"><i class="far fa-times-circle"></i></button>
                            </div>
        
                        </form>
                        
                    </div>

                    <!--añadir administradores de tiendas-->
                    <div class='col-lg-5 col-md-5 col-sm-8 col-10 border rounded mt-1 p-3 mb-3' id="divZonaAdministradores">
        
                        <h4 class='text-center'>CONVERTIR ADMINISTRADORES <i class="fas fa-eye" ng-click="mostrarNoAdministradores()"></i></h4>

                        <div class="text-center" ng-show="selectNoAdministradores=='si'">

                            <select id="selectUsuariosNoAdministradores" ng-model="usuarioSeleccionadoAdminTienda">
                                <option value="" selected>Seleccionar Usuario</option>
                                <option ng-repeat="item in usuariosNoAdmin" value="{{item.id}}">{{item.id}} -- {{item.apellidos}}, {{item.nombre}}</option>
                            </select>

                            <select id="selectTiendasNoAdministradores" ng-model="tiendaSeleccionadoAdminTienda">
                                <option value="" selected>Seleccionar Tienda</option>
                                <option ng-repeat="item in tiendasSinAdmin" value="{{item.id}}">{{item.id}} -- {{item.nombre}}</option>
                            </select>

                            <div class="text-center m-2">
                                <button type="button" id="updateUsuarioAdminTienda" class="btn btn-light" ng-click="updateUsuarioAdminTienda()"><i class="fas fa-pencil-alt"></i></button>
                                <button type="button" id="cancelUpdateUsuario" class="btn btn-light" ng-click="cancelUpdateUsuarioAdminTienda()"><i class="far fa-times-circle"></i></button>
                            </div>
                        </div>
                    </div>

                    <!--quitar administradores tiendas-->
                    <div class='col-lg-5 col-md-5 col-sm-8 col-10 border rounded mt-1 p-3 mb-3' id="divZonaAdministradores2">
        
                        <h4 class='text-center'>BORRAR ADMINISTRADORES <i class="fas fa-eye" ng-click="mostrarAdministradoresTienda()"></i></h4>

                        <div class="text-center" ng-show="selectAdministradoresTienda=='si'">

                            <select id="selectUsuariosAdminTienda" ng-model="usuarioSeleccionadoAdminTienda" ng-change="quitarAdminTienda()">
                                <option value="" selected>Seleccionar Usuario</option>
                                <option ng-repeat="item in usuariosAdminTienda" value="{{item.id}}">{{item.id}} -- {{item.apellidos}}, {{item.nombre}}</option>
                            </select>

                            <div class="text-center m-2">
                                <button type="button" id="cancelUpdateUsuarioNoAdminTienda" class="btn btn-light" ng-click="cancelUpdateUsuarioNoAdminTienda()"><i class="far fa-times-circle"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal para eliminar tiendas, productos o adminitradores de tiendas -->

            <div id="modalDeleteTienda" class="modal">
                <span onclick="document.getElementById('modalDeleteTienda').style.display='none'" class="close" title="Close Modal">&times;</span>
                <form class="modal-contentDelete">
                    <div class="container">
                        <h1>¿Eliminar Tienda?</h1>
                        <p id="modalText"></p>
        
                        <div class="clearfix">
                            <button type="button" class="cancelbtnTienda" onclick="document.getElementById('modalDeleteTienda').style.display='none'">Cancelar</button>
                            <button type="button" class="deletebtnTienda" id="deletebtnTienda">Eliminar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="modalDeleteProducto" class="modal">
                <span onclick="document.getElementById('modalDeleteProducto').style.display='none'" class="close" title="Close Modal">&times;</span>
                <form class="modal-contentDelete">
                    <div class="container">
                        <h1>¿Eliminar Producto?</h1>
                        <p id="modalText"></p>
        
                        <div class="clearfix">
                            <button type="button" class="cancelbtnProducto" onclick="document.getElementById('modalDeleteProducto').style.display='none'">Cancelar</button>
                            <button type="button" class="deletebtnProducto" id="deletebtnProducto">Eliminar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="modalDeleteProductoAdminTienda" class="modal">
                <span onclick="document.getElementById('modalDeleteProductoAdminTienda').style.display='none'" class="close" title="Close Modal">&times;</span>
                <form class="modal-contentDelete">
                    <div class="container">
                        <h1>¿Eliminar Producto?</h1>
                        <p id="modalText"></p>
        
                        <div class="clearfix">
                            <button type="button" class="cancelbtnProductoAdminTienda" id="cancelbtnProductoAdminTienda" onclick="document.getElementById('modalDeleteProductoAdminTienda').style.display='none'">Cancelar</button>
                            <button type="button" class="deletebtnProductoAdminTienda" id="deletebtnProductoAdminTienda">Eliminar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="modalDeleteAdminTienda" class="modal">
                <form class="modal-contentDelete">
                    <div class="container">
                        <h1>¿Quitar administrador de la tienda?</h1>
                        <p id="modalText"></p>
        
                        <div class="clearfix">
                            <button type="button" class="cancelbtnAdminTienda" id="cancelbtnAdminTienda" onclick="document.getElementById('modalDeleteAdminTienda').style.display='none'">Cancelar</button>
                            <button type="button" class="deletebtnAdminTienda" id="deletebtnAdminTienda">Eliminar</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="../js/usuario.js"></script>
    <script src="../js/fontAwesome.js" type="text/javascript"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>